<h1>Enter a Team</h1>

<div>
    <form action="/teams" method="post">
      <label for="name">Team Name:</label>
      <input id="name" name="name" type="text">
      <br><br>
      <button type="submit">Submit</button>
    </form>
</div>
